@page "/Coor/Formandos/{TurmaId:int}"

@inject IPaisesData paisesData
@inject ICNAEFData CNAEFData
@inject IHabilitacoesData habilitacoesData
@inject IPessoaData pessoaData
@inject IFormandoData FormandoData
@inject ITurmaData TurmaData
@inject ICursoData CursoData
@inject IModuloData ModuloData
@inject IListaEstadosFormandoData listaEstadosData
@inject FileManagerService fileManager

<div class="cardstyle">
    <h2>Formandos da turma @turma.Nome</h2>

    <RadzenButton Text="Excel" Icon="grid_on" Click="@(args => Exportar(".xlsx"))" Style="margin-bottom:20px" />
    <!-- INICIO #008 -->
    <!-- O RadzenButton nao sei como meter a funcionar -->
    <!-- <RadzenButton Text="Enviar Email" Icon="email" Disabled="@(!selectedFormandos.Any())" Click="@EnviarEmailParaSelecionados" /> -->
    <span class="material-icons" style="vertical-align: middle; padding-top:-3px; color:blue;">email</span><a href="@BuildMailToLink()" disabled="@(selectedFormandos.Count == 0)">Enviar Email</a>
    <!--FIM-->

    <RadzenGrid Data="@filteredFormandos"
                TItem="Formando"
                AllowSorting="true"
                AllowFiltering="true"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowPaging="true"
                PageSize="10">
        <Columns>
            <!--INICIO #008-->
            <!--Adicionei checkbox para selecionar o mail da row especifica-->
            <RadzenGridColumn TItem="Formando" Title="Selecionar" Sortable="false" Filterable="false" Width="50px">
                <HeaderTemplate>
                    <RadzenCheckBox TValue="bool"
                                    Value="@selectAll"
                                    ValueChanged="@((bool value) => ToggleSelectAll(value))"
                                    Change="@((args) => {})" /> <!-- required to trigger change -->
                </HeaderTemplate>
                <Template Context="formando">
                    <RadzenCheckBox TValue="bool"
                                    Value="@IsSelected(formando.Id)"
                                    ValueChanged="@((bool checkedValue) => ToggleSelection(formando.Id, checkedValue))"
                                    Change="@((args) => {})" />
                </Template>
            </RadzenGridColumn>
            <!--FIM-->
            <RadzenGridColumn TItem="Formando" Property="Nome" Title="Nome" />
            <RadzenGridColumn TItem="Formando" Property="Email" Title="Email" />
            <RadzenGridColumn TItem="Formando" Title="FJ">
                <Template Context="Formando">
                    @if (Formando.FaltaJustificadas != null)
                    {
                        if ((Formando.FaltaJustificadas.Duracao / 60 / Formando.Turma.Curso.DuracaoHoras * 100) <= 5)
                        {
                            <span>@((Formando.FaltaJustificadas.Duracao / 60 / Formando.Turma.Curso.DuracaoHoras * 100).ToString("0.##"))%</span>
                        }
                        else
                        {
                            <span style="color: red;">@((Formando.FaltaJustificadas.Duracao / 60 / Formando.Turma.Curso.DuracaoHoras * 100).ToString("0.##"))%</span>
                        }
                    }
                    else
                    {
                        <span>0%</span>
                    }
                </Template>
                <FooterTemplate>
                    <i>*Faltas Justificadas</i>
                </FooterTemplate>
            </RadzenGridColumn>

            <RadzenGridColumn TItem="Formando" Title="FI">
                <Template Context="Formando">
                    @if (Formando.FaltaInjustificadas != null)
                    {
                        if ((Formando.FaltaInjustificadas.Duracao / 60 / Formando.Turma.Curso.DuracaoHoras * 100) <= 5)
                        {
                            <span>@((Formando.FaltaInjustificadas.Duracao / 60 / Formando.Turma.Curso.DuracaoHoras * 100).ToString("0.##"))%</span>
                        }
                        else
                        {
                            <span style="color: red;">@((Formando.FaltaInjustificadas.Duracao / 60 / Formando.Turma.Curso.DuracaoHoras * 100).ToString("0.##"))%</span>
                        }
                    }
                    else
                    {
                        <span>0%</span>
                    }
                </Template>
                <FooterTemplate>
                    <i>*Faltas Injustificadas</i>
                </FooterTemplate>
            </RadzenGridColumn>


            @for (int i = 0; i < modulos.Count(); i++)
            {
                int index = i;
                string title = $"Média M{modulos[index].Id}";

                <RadzenGridColumn TItem="Formando" Property="" Title="@title">
                    <Template Context="Formando">
                        @if (Formando.DictAvaliacaoModular.Count() != 0)
                        {
                            @if (Formando.DictAvaliacaoModular.ContainsKey(modulos[index].Id) && Formando.DictAvaliacaoModular[modulos[index].Id].NotaFinal >= 10)
                            {
                                <span style='color:green'>@(Formando.DictAvaliacaoModular[modulos[index].Id].NotaFinal.ToString("0.##"))</span>
                            }
                            else if (Formando.DictAvaliacaoModular.ContainsKey(modulos[index].Id) && Formando.DictAvaliacaoModular[modulos[index].Id].NotaFinal < 10)
                            {
                                <span style='color:red'>@(Formando.DictAvaliacaoModular[modulos[index].Id].NotaFinal.ToString("0.##")) </span>
                            }
                            else
                            {
                                <span>Sem nota</span>
                            }
                        }
                        else
                        {
                            <span>Sem nota</span>
                        }
                    </Template>
                </RadzenGridColumn>
            }

            <RadzenGridColumn TItem="Formando" Property="" Title="Média de Nota Final">
                <Template Context="Formando">
                    @if (Formando.AvaliacaoFinal != null)
                    {
                        if (Formando.AvaliacaoFinal.NotaFinal >= 10)
                        {
                            <span style="color: green;">@(Formando.AvaliacaoFinal.NotaFinal.ToString("0.##"))</span>
                        }
                        else
                        {
                            <span style="color: red;">@(Formando.AvaliacaoFinal.NotaFinal.ToString("0.##"))</span>
                        }
                    }
                    else
                    {
                        <span>Sem nota</span>
                    }
                </Template>
            </RadzenGridColumn>

            <RadzenGridColumn TItem="Formando" Property="" Title="Estado">
                <FilterTemplate>
                    <RadzenDropDown @bind-Value="@filtroEstado" TextProperty="Nome" ValueProperty="Id" Style="width:100%"
                                    Change=@FiltrarPorEstado
                                    Data="@(estados.Select(t => t.Nome))" />
                </FilterTemplate>
                <Template Context="Formando">
                    <span>@Formando.Estado.Nome</span>
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn Title="Opções" TItem="Formando" Sortable="false" Filterable="false">
                <Template Context="Formando">
                    <RadzenButton Title="Visualizar detalhes" Size="ButtonSize.Medium" Icon="description" Click=@(args => dialogService.Open<DetalhesFormando>("Detalhes do Formando",
                                                                                       new Dictionary<string, object>() { { "FormandoId", Formando.Id } },
                                                                                       new DialogOptions(){  Width = "1200px", Height = "450px" })) />
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
</div>

<!-- INÍCIO #008 -->
<!-- Botão de Voltar -->
<div class="row justify-content-center">
    <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Voltar" Click="@(() => navManager.NavigateTo($"Cursos"))" />
    </div>
</div>
<!-- FIM -->

@code {

    // INICIO #008

    HashSet<int> selectedFormandos = new();
    bool selectAll = false;

    bool IsSelected(int id) => selectedFormandos.Contains(id);

    void ToggleSelection(int id, bool isSelected)
    {
        if (isSelected)
        {
            selectedFormandos.Add(id);
        }
        else
        {
            selectedFormandos.Remove(id);
            selectAll = false; // Uncheck Select All if one is deselected
        }
    }

    void ToggleSelectAll(bool isSelected)
    {
        selectAll = isSelected;

        if (isSelected)
        {
            selectedFormandos = filteredFormandos.Select(f => f.Id).ToHashSet();
        }
        else
        {
            selectedFormandos.Clear();
        }
    }

    string BuildMailToLink()
    {
        if (!selectedFormandos.Any()) return "#";

        var selectedEmails = filteredFormandos
            .Where(f => selectedFormandos.Contains(f.Id))
            .Select(f => f.Email)
            .Where(email => !string.IsNullOrWhiteSpace(email))
            .Distinct();

        var mailto = "mailto:" + string.Join(",", selectedEmails);
        return mailto;
    }

    // FIM

    int? role;
    List<Paises> paises;
    List<CNAEF> CNAEFs;
    List<Habilitacoes> habilitacoes;
    List<Turma> turmas;
    List<Formando> formandos, formandosComFaltas, filteredFormandos;
    List<Modulo> modulos;
    Turma turma;
    List<ListaEstadosFormando> estados = new List<ListaEstadosFormando>();
    ListaEstadosFormando todos = new ListaEstadosFormando() { Nome = "Todos" };

    [Parameter]
    public int TurmaId { get; set; }//id Turma

    [Parameter]
    public Func<Formando, bool> Filter { get; set; }

    //Ir buscar o nivel de acesso do User
    Pessoa user;
    [CascadingParameter]
    private Task<AuthenticationState> authStateTask { get; set; }
    string email;
    string mail;

    protected override async Task OnInitializedAsync()
    {
        formandos = FormandoData.GetAllByTurmaWithAvaliacao(TurmaId);//lista formandos por id de turma
        formandosComFaltas = FormandoData.GetAllByTurmaComFaltas(TurmaId);//lista de formandos com faltas justificadas e injustificadas
        turma = TurmaData.GetById(TurmaId);
        modulos = ModuloData.GetModulosComFormadorByTurma(TurmaId);
        modulos.OrderBy(m => m.Id);
        estados = listaEstadosData.GetAll();
        estados.Insert(0, todos);

        if (Filter != null)
        {
            formandos = formandos.Where(Filter).OrderBy(f => f.Nome).ToList();
        }

        //atribui as faltas (da lista formandosComFaltas) à lista de formandos
        foreach (var formando in formandosComFaltas)
        {
            if (formando.FaltaJustificadas != null)
            {
                formandos.Single(f => f.Id == formando.Id).FaltaJustificadas = formando.FaltaJustificadas;
                formandos.Single(f => f.Id == formando.Id).Turma.Curso = formando.Turma.Curso;
            }
            else
            {
                formandos.Single(f => f.Id == formando.Id).FaltaInjustificadas = formando.FaltaInjustificadas;
                formandos.Single(f => f.Id == formando.Id).Turma.Curso = formando.Turma.Curso;
            }
        }

        filteredFormandos = formandos.OrderBy(f => f.Nome).ToList();

        string userEmail = (await authStateTask).User.Identity.Name;
        user = pessoaData.GetByEmail(userEmail);
        // user.PerfilId
        // 1 = Administrador
        // 2 = Coordenador
        // 3 = Formador
        // 4 = Formando
        // 5 = FormadorCoordenador
        role = user.Perfil.Id;
    }

    /// <summary>
    /// Filtro da coluna Estado que está activo
    /// </summary>
    string filtroEstado = "Todos";

    /// <summary>
    /// Corre quando o filtro da coluna Estado é alterado
    /// </summary>
    void FiltrarPorEstado()
    {
        filteredFormandos = formandos.Where(f => filtroEstado != "Todos" ? f.Estado.Nome == filtroEstado : true).OrderBy(f => f.Nome).ToList();
        //mail = "";
        //foreach (var formando in filteredFormandos)
        //{
        //	mail = mail + formando.Email + ";";
        //}

        //email = $"mailto:{mail}";
    }

    /// <summary>
    /// Usando ClosedXML https://github.com/closedxml/closedxml/wiki
    /// 1: Criar um novo workbook, com uma worksheet
    /// 2: Preencher e formatar as células com o conteúdo
    /// 3: Exportar usando filemanager
    /// </summary>
    async void Exportar(string extension)
    {
        IXLWorkbook workbook = new XLWorkbook();
        IXLWorksheet worksheet = workbook.Worksheets.Add("formandos");


        #region Template Topo
        var currentRow = 1;
        var currentColumn = 1;

        //Imagens Topo
        worksheet.AddPicture("wwwroot/img/pauta/iefp.png")
              .MoveTo(worksheet.Cell(currentRow, currentColumn));
        currentColumn += 3;
        worksheet.AddPicture("wwwroot/img/pauta/iscte.png")
              .MoveTo(worksheet.Cell(currentRow, currentColumn))
              .Scale(.07);
        currentColumn += 3;
        worksheet.AddPicture("wwwroot/img/pauta/upskill.png")
          .MoveTo(worksheet.Cell(currentRow, currentColumn));

        currentRow += 5;
        currentColumn -= 6;
        #endregion


        #region Cabeçalho
        var rngCabeçalhoFirstColumn = currentColumn;

        worksheet.Cell(currentRow, currentColumn++).Value = "Nome do Formando";
        worksheet.Cell(currentRow, currentColumn++).Value = "Turma";
        worksheet.Cell(currentRow, currentColumn++).Value = "Curso";
        worksheet.Cell(currentRow, currentColumn++).Value = "Email";
        worksheet.Cell(currentRow, currentColumn++).Value = "Telemóvel";

        //Dados apenas acessiveis a Administradores
        if (role == 1)
        {
            worksheet.Cell(currentRow, currentColumn++).Value = "Estado";
            worksheet.Cell(currentRow, currentColumn++).Value = "Data de nascimento";
            worksheet.Cell(currentRow, currentColumn++).Value = "Género";
            worksheet.Cell(currentRow, currentColumn++).Value = "NIF";
            worksheet.Cell(currentRow, currentColumn++).Value = "CC";
            worksheet.Cell(currentRow, currentColumn++).Value = "Morada";
            worksheet.Cell(currentRow, currentColumn++).Value = "Habilitações Literárias";
            worksheet.Cell(currentRow, currentColumn++).Value = "CNAEF";
            worksheet.Cell(currentRow, currentColumn++).Value = "Nacionalidade";
            worksheet.Cell(currentRow, currentColumn++).Value = "IBAN";
            worksheet.Cell(currentRow, currentColumn++).Value = "Bolsa";
        }


        var rngCabeçalho = worksheet.Range(currentRow, rngCabeçalhoFirstColumn, currentRow, currentColumn - 1);
        rngCabeçalho.Columns().Style.Border.OutsideBorder = XLBorderStyleValues.Thin;
        rngCabeçalho.Style.Font.FontName = "Century Gothic";
        rngCabeçalho.Style.Font.FontSize = 15;
        rngCabeçalho.Style.Font.Bold = true;
        rngCabeçalho.Style.Fill.BackgroundColor = XLColor.FromArgb(204, 255, 255);

        currentColumn = rngCabeçalhoFirstColumn;
        #endregion


        #region Corpo
        List<Formando> exportFormandos = filteredFormandos;
        var frm = exportFormandos.First();
        var curso = CursoData.GetById((int)frm.Turma.CursoId);

        var rngCorpo = worksheet.Range(1, 1, 1, 1);
        var rngCorpoFirstRow = currentRow;
        var rngCorpoFirstColumn = currentColumn;

        foreach (var formando in exportFormandos)
        {

            currentRow++;

            worksheet.Cell(currentRow, currentColumn++).Value = formando.Nome;
            worksheet.Cell(currentRow, currentColumn++).Value = formando.Turma.Nome;
            worksheet.Cell(currentRow, currentColumn++).Value = curso.Nome;

            worksheet.Cell(currentRow, currentColumn++).Value = formando.Email;
            worksheet.Cell(currentRow, currentColumn).Value = formando.ContactoTelemovel;

            //Dados apenas acessiveis a Administradores
            if (role == 1)
            {
                currentColumn++;
                worksheet.Cell(currentRow, currentColumn++).Value = formando.Estado.Nome;
                worksheet.Cell(currentRow, currentColumn++).Value = formando.DataNascimento;
                worksheet.Cell(currentRow, currentColumn++).Value = formando.Sexo;
                worksheet.Cell(currentRow, currentColumn++).Value = formando.NIF;
                worksheet.Cell(currentRow, currentColumn++).Value = formando.CC;
                worksheet.Cell(currentRow, currentColumn++).Value = formando.Morada;

                if (formando.HabilitacoesLiterarias != 0)
                {
                    var habilitacoesNome = from habilitacao in habilitacoes where habilitacao.Codigo == formando.HabilitacoesLiterarias select habilitacao;
                    worksheet.Cell(currentRow, currentColumn).Value = formando.HabilitacoesLiterarias + " - " + habilitacoesNome.First().HabilitacoesLiterarias;
                }
                currentColumn++;

                if (formando.CodigoCNAEF != null)
                {
                    var CNAEFNome = from CNAEF in CNAEFs where CNAEF.CodigoCNAEF == formando.CodigoCNAEF select CNAEF.CodigoCNAEF;
                    worksheet.Cell(currentRow, currentColumn).Value = string.Join(", ", CNAEFNome); //changed from worksheet.Cell(currentRow, currentColumn).Value = CNAEFNome;
                }
                currentColumn++;

                if (formando.Nacionalidade != null)
                {
                    var nacionalidade = from pais in paises where pais.iso == formando.Nacionalidade select pais.nome;
                    worksheet.Cell(currentRow, currentColumn).Value = string.Join(", ", nacionalidade);
                }
                currentColumn++;

                worksheet.Cell(currentRow, currentColumn++).Value = formando.IBAN;
                worksheet.Cell(currentRow, currentColumn).Value = formando.Bolsa == true ? "Sim" : "Não";
            }


            rngCorpo = worksheet.Range(rngCorpoFirstRow, rngCorpoFirstColumn, currentRow, currentColumn);

            currentColumn = rngCorpoFirstColumn;
        }

        rngCorpo.Columns().Style.Border.OutsideBorder = XLBorderStyleValues.Thin;
        rngCorpo.Cells().Style.Alignment.SetHorizontal(XLAlignmentHorizontalValues.Left);
        worksheet.Columns().AdjustToContents();
        #endregion


        #region Template rodapé
        currentRow += 3;
        worksheet.AddPicture("wwwroot/img/pauta/gov.jpg")
                  .MoveTo(worksheet.Cell(currentRow + 3, 4))
                  .Scale(.74);
        #endregion

        var timestamp = Convert.ToString(DateTime.Now);

        await fileManager.DownloadWorkbook(workbook, extension, timestamp + "_Formandos");
    }
}
