@page "/Admin"

@inject IPessoalData pessoalData
@inject IFuncoesData funcoesData

<div class="cardstyle">
    <h2>@Title</h2>
    <br />
    <!-- INÍCIO #004 -->
    <AuthorizeView Roles="Administrador">
        <Authorized>
            <RadzenButton class="my-4" ButtonStyle="ButtonStyle.Primary" Text="Criar Admin" Icon="add" Click="@(() => dialogService.Open<CriarPessoal>(
                                                                                                                                     "Criar Admin",
                                                                                                                                     new Dictionary<string, object>()
                                                                                                                                     {
                                                                                                                             { "RedirectAfterCreation", IsViewedAsChild ? false : true}
                                                                                                                                     },
                                                                                                                                     new DialogOptions()
                                                                                                                                     {
                                                                                                                                         Width = "90%",
                                                                                                                                         Height = "90%"
                                                                                                                                     }))" />
        </Authorized>
    </AuthorizeView>
    <RadzenGrid Data="@filteredPessoal"
                TItem="Pessoal"
                AllowSorting="true"
                AllowFiltering="true"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowPaging="true"
                PageSize="10">
        <Columns>
            <RadzenGridColumn TItem="Pessoal" Property="Nome" Title="Nome" />
            <RadzenGridColumn TItem="Pessoal" Property="Email" Title="Email" />
            <RadzenGridColumn TItem="Pessoal" Property="ContactoTelemovel" Title="Telemóvel" />
            <RadzenGridColumn TItem="Pessoal" Property="ContactoTelefone" Title="Telefone" />
            <RadzenGridColumn TItem="Pessoal" Title="Funcoes" Sortable="false">
                <FilterTemplate>
                    <RadzenDropDown @bind-Value="@filtroFuncao"
                                    TextProperty="Text" ValueProperty="Value"
                                    Style="width:100%" Change=@FiltrarPorFuncao
                                    Data="@(new List<string> { "Filtrar por Estado" }.Concat(funcoes.Select(t => t.Nome)))" />
                </FilterTemplate>
                <Template Context="Pessoal">
                    <span>@Pessoal.Funcao</span>
                </Template>
            </RadzenGridColumn>

            @if (Mode == "Add")
            {
                <AuthorizeView Roles="Administrador">
                    <Authorized>
                        <RadzenGridColumn Title="Adicionar" TItem="Pessoal" Sortable="false" Filterable="false">
                            <Template Context="Pessoal">
                                <RadzenButton Title="Adicionar Admin" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Secondary" Icon="add" Click="@(() => SendPessoal(Pessoal.Id))" />
                            </Template>
                        </RadzenGridColumn>
                    </Authorized>
                </AuthorizeView>
            }
            else
            {
                <AuthorizeView Roles="Administrador">
                    <Authorized>
                        <RadzenGridColumn Title="Opções" TItem="Pessoal" Sortable="false" Filterable="false">
                            <Template Context="Pessoal">
                                <RadzenButton Title="Ver Detalhes" Size="ButtonSize.Medium" Icon="description" Click=@(args => dialogService.Open<DetalhesPessoal>($"Detalhes",
                                                                                                                                         new Dictionary<string, object>() { { "ColaboradorId", Pessoal.Id } },
                                                                                                                                         new DialogOptions() { Width = "80%", Height = "90%" })) />
                                <RadzenButton Title="Editar" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Secondary" Icon="mode_edit" Click="@(() => navManager.NavigateTo($"Admin/Criar/{Pessoal.Id}"))" />
                                <RadzenButton Title="Remover" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Danger" Icon="delete" Click="@(() => ConfirmDelete(Pessoal))" />
                                <RadzenButton Title="Enviar Email" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Success" Icon="email" Click="@(() => navManager.NavigateTo($"mailto:{Pessoal.Email}", true))" />
                            </Template>
                        </RadzenGridColumn>
                    </Authorized>
                </AuthorizeView>
            }
        </Columns>
    </RadzenGrid>
</div>

<!-- INÍCIO #004 -->
<div class="row justify-content-center">
    <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Voltar" Click="@(() => navManager.NavigateTo($"Index"))" />
    </div>
</div>
<br />
<!-- FIM #004 -->
@code {

    List<Pessoal> staff;
    List<Pessoal> filteredPessoal;
    List<Funcoes> funcoes = new List<Funcoes>();

    [Parameter]
    public string Mode { get; set; }

    [Parameter]
    public EventCallback<int> OutgoingPessoal { get; set; }

    [Parameter]
    public bool IsViewedAsChild { get; set; } = false;

    [Parameter]
    public Func<Pessoal, bool> Filter { get; set; }

    [Parameter]
    public string Title { get; set; } = "Admin";

    string email;
    string mail;

    protected override async Task OnInitializedAsync()
    {
        LoadPessoal();
        funcoes = funcoesData.GetAll().Where(f => f.Nome != "Formador e Coordenador" && f.Nome != "Formador" && f.Nome != "Coordenador").ToList();
    }

    void LoadPessoal()
    {
        staff = pessoalData.GetAll().Where(p => p.PerfilId == 1).OrderBy(p => p.Nome).ToList();

        if (Filter != null)
        {
            filteredPessoal = staff.Where(Filter).OrderBy(p => p.Nome).ToList();
        }

        filteredPessoal = staff;
    }

    private async Task SendPessoal(int ToSendId)
    {
        await OutgoingPessoal.InvokeAsync(ToSendId);
    }

    async Task ConfirmDelete(Pessoal pessoal)
    {
        await dialogService.OpenAsync("Confimar apagar", ds =>
        @<div>
            <p>Tem a certeza que pretende apagar @pessoal.Nome?</p>
            <p class="mb1 text-danger">Esta acção é irreversível.</p>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                    <RadzenButton class="w-150 mx-2" Text="Ok" Click="() => { pessoalData.Remove(pessoal.Id); ds.Close(true); LoadPessoal(); }" />
                    <RadzenButton class="w-150 mx-2" Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" />
                </div>
            </div>
        </div>);
    }

    string filtroFuncao = "Filtrar por Estado";

    void FiltrarPorFuncao()
    {
        filteredPessoal = staff.Where(f => filtroFuncao != "Filtrar por Estado" ? f.Funcao == filtroFuncao : true).OrderBy(p => p.Nome).ToList();
    }
}