@page "/Avaliacao"

@inject ITurmaData turmaData

<div class="cardstyle">
    <h2>Avaliações</h2>


    <div style="margin-bottom: 0.5rem; display: flex; align-items: center; gap: 0.5rem;">
        <span>Itens por página:</span>
        <RadzenDropDown @bind-Value="@pageSize"
                        Data="@(new int[] { 10, 15, 20, 50 })"
                        Change="@(() => grid.Reload())"
                        Style="width: 80px" />
    </div>

    <RadzenGrid @ref="grid"
                Data="@turmas"
                TItem="Turma"
                AllowSorting="true"
                AllowFiltering="true"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowPaging="true"
                PageSize="@pageSize">

        <Columns>
            <RadzenGridColumn TItem="Turma" Property="Nome" Title="Turma" />

            <RadzenGridColumn TItem="Turma" Property="Curso.Nome" Title="Curso" Sortable="false">
                <FilterTemplate>
                    <RadzenDropDown @bind-Value="@filtroCursoNome"
                                    Style="width:100%"
                                    Placeholder="Selecione um Curso"
                                    Change="@(_ => ApplyFilters())"
                                    Data="@(new[] { "Todos" }.Concat((turmasOriginais ?? new List<Turma>()).Where(t => t.Curso?.Nome != null).Select(t => t.Curso.Nome).Distinct()))" />
                </FilterTemplate>
                <Template Context="Turma">
                    @if (Turma.Curso != null)
                    {
                        @Turma.Curso.Nome
                    }
                </Template>
            </RadzenGridColumn>

            <RadzenGridColumn TItem="Turma" Property="AnoLetivo" Title="Ano Letivo" Sortable="false">
                <FilterTemplate>
                    <RadzenDropDown @bind-Value="@filtroAnoLetivo"
                                    Style="width:100%"
                                    Placeholder="Filtrar por Ano Letivo"
                                    Change="@(_ => ApplyFilters())"
                                    Data="@(new[] { "Todos" }.Concat((turmasOriginais ?? new List<Turma>()).Where(t => t.AnoLetivo != null).Select(t => t.AnoLetivo.Nome).Distinct()))" />
                </FilterTemplate>
                <Template Context="Turma">
                    @Turma.AnoLetivo?.Nome
                </Template>
            </RadzenGridColumn>

            <RadzenGridColumn TItem="Turma" Sortable="false" Filterable="false" Title="Avaliações">
                <Template Context="Turma">

                    <RadzenButton Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Secondary" Text="Modular" Click="@(() => navManager.NavigateTo($"TurmaAvaliacoes/{Turma.Id}"))" />
                    <RadzenButton Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Secondary" Text="Final" Click="@(() => navManager.NavigateTo($"Detalhes/Turma/{Turma.Id}"))" />

                </Template>
            </RadzenGridColumn>

        </Columns>
    </RadzenGrid>
</div>

<!-- INÍCIO #008 -->
<div class="row justify-content-center">
    <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
        <!-- <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Icon="save" Text="Guardar" Click="@(() => MarcarFaltas())" /> -->

        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Voltar" Click="@(() => navManager.NavigateTo($"Index"))" />

    </div>
</div>
<!-- FIM -->
@code {

    List<Turma> turmas;
    List<Turma> turmasOriginais;

    string filtroCursoNome = null;
    string filtroAnoLetivo = null;

    RadzenGrid<Turma> grid;
    int pageSize = 10;

    [Parameter]
    public string Mode { get; set; }
    [Parameter]
    public string Title { get; set; } = "Listagem de Turmas";

    [Parameter]
    public Func<Turma, bool> Filter { get; set; }

    [Parameter]
    public EventCallback<int> OutgoingTurma { get; set; }

    // Metodo para os filtros funcionarem Juntos
    void ApplyFilters()
    {
        turmas = turmasOriginais;

        if (!string.IsNullOrEmpty(filtroCursoNome) && filtroCursoNome != "Todos")
            turmas = turmas.Where(t => t.Curso?.Nome == filtroCursoNome).ToList();

        if (!string.IsNullOrEmpty(filtroAnoLetivo) && filtroAnoLetivo != "Todos")
            turmas = turmas.Where(t => t.AnoLetivo?.Nome == filtroAnoLetivo).ToList();
    }
    // FIM #008

    protected override async Task OnInitializedAsync()
    {
        LoadTurmas();
    }

    /// <summary>
    /// Carrega as turmas da BD para o componente.
    /// Se existir um filtro do tipo Func<Turma, bool> passado ao componente como parametro
    /// as turmas são filtradas
    /// </summary>
    void LoadTurmas()
    {
        turmasOriginais = turmaData.GetAll();
        if (Filter != null) 
            turmasOriginais = turmasOriginais.Where(Filter).ToList();

        turmas = turmasOriginais;

        var semAnoLetivo = turmasOriginais.Where(t => t.AnoLetivo == null).Count();
        Console.WriteLine($"Turmas sem AnoLetivo: {semAnoLetivo}");
    }

    private async Task SendTurma(int ToSendId)
    {
        await OutgoingTurma.InvokeAsync(ToSendId);
    }
}
