@page "/AvaliacaoPorFormador"

@inject IFormadorData FormadorData
@inject ITurmaData turmaData
@inject DialogService dialogService
@inject RefreshService refreshService
@inject NavigationManager navManager
@inject ProtectedSessionStorage _sessionStorage

<div class="cardstyle">
    <h2>Avaliações</h2>

    <RadzenGrid Data="@filteredTurmas"
                TItem="Turma"
                AllowSorting="true"
                AllowFiltering="true"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowPaging="true"
                PageSize="10">

        <Columns>
            <RadzenGridColumn TItem="Turma" Property="Nome" Title="Nome" />

            <RadzenGridColumn TItem="Turma" Property="Curso.Nome" Title="Curso">
                <Template Context="Turma">
                    @if (Turma.Curso != null)
                    {
                        @Turma.Curso.Nome
                    }
                </Template>
            </RadzenGridColumn>

            <RadzenGridColumn TItem="Turma" Sortable="false" Filterable="false" Title="Avaliações">
                <Template Context="Turma">

                    <RadzenButton Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Secondary" Text="Modular" Click="@(() => navManager.NavigateTo($"TurmaAvaliacoes/{Turma.Id}"))" />
                    <RadzenButton Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Secondary" Text="Final" Click="@(() => navManager.NavigateTo($"Detalhes/Turma/{Turma.Id}"))" />

                </Template>
            </RadzenGridColumn>

        </Columns>
    </RadzenGrid>
</div>

<!-- INÍCIO #008 -->
<div class="row justify-content-center">
    <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
        <!-- <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Icon="save" Text="Guardar" Click="@(() => MarcarFaltas())" /> -->

                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Voltar" Click="@(() => navManager.NavigateTo($"Index"))" />

    </div>
</div>
<!-- FIM -->

@code {

    List<Turma> filteredTurmas;

    List<Turma> turmas;

    [Parameter]
    public int Idf { get; set; } // id do formador

    [Parameter]
    public string Mode { get; set; }
    [Parameter]
    public string Title { get; set; } = "Listagem de Turmas";

    [Parameter]
    public Func<Turma, bool> Filter { get; set; }

    [Parameter]
    public EventCallback<int> OutgoingTurma { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //Vai recolher o id da Pessoa(Formador) recorrendo à SessionStorage
        Pessoa user = null;
        var readUserFromSession = await _sessionStorage.GetAsync<string>("user");
        if (readUserFromSession.Success)
        {
            user = JsonConvert.DeserializeObject<Pessoa>(readUserFromSession.Value);
            Idf = user.Id;
        }

        filteredTurmas = FormadorData.GetTurmaByIdFormador(Idf); // List<Turma> que são deste formador
    }

    /// <summary>
    /// Carrega as turmas da BD para o componente.
    /// Se existir um filtro do tipo Func<Turma, bool> passado ao componente como parametro
    /// as turmas são filtradas
    /// </summary>
    private async Task SendTurma(int ToSendId)
    {
        await OutgoingTurma.InvokeAsync(ToSendId);
    }
}
