@attribute [Authorize]
@page "/AreaPessoal"

@using UpskillPortal.Utils
@using BCrypt.Net

@inject IPessoaData pessoaData
@inject NavigationManager Navigation

<a href="javascript:history.go(-1)"><img src="/img/outline_arrow_back_black_48dp.png" /></a>
<br />
<RadzenNotification />
<br />
<h3>Área Pessoal</h3>
<EditForm class="col-4" Model="npVM" OnValidSubmit="NovaPassword">
    <DataAnnotationsValidator />
    <div class="form-group">
        <RadzenLabel Text="Password Atual" />
        <RadzenPassword class="form-control" @bind-Value="@npVM.PasswordActual" />
        <ValidationMessage For="@(() => npVM.PasswordActual)" />
    </div>
    <div class="form-group">
        <RadzenLabel Text="Nova Password" />
        <RadzenPassword class="form-control" @bind-Value="@npVM.NovaPassword" />
        <ValidationMessage For="@(() => npVM.NovaPassword)" />
    </div>
    <div class="form-group">
        <RadzenLabel Text="Confirmar Nova Password" />
        <RadzenPassword class="form-control" @bind-Value="@npVM.Confirmacao" />
        <ValidationMessage For="@(() => npVM.Confirmacao)" />
    </div>
    <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Icon="autorenew" Text="Mudar Password" />
</EditForm>

@code {

    NovaPassViewModel npVM = new NovaPassViewModel();
    Pessoa user;

    [CascadingParameter]
    private Task<AuthenticationState> authStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        string userEmail = (await authStateTask).User.Identity.Name;
        user = pessoaData.GetByEmail(userEmail);

        base.OnInitialized();
    }

    async Task NovaPassword()
    {
        bool passwordCorreta = false;

        if (user.Password.StartsWith("$2a$") || user.Password.StartsWith("$2b$"))
        {
            passwordCorreta = BCrypt.Verify(npVM.PasswordActual, user.Password);
        }
        else
        {
            try
            {
                passwordCorreta = HashingService.CompareHash(user.Password, npVM.PasswordActual);
            }
            catch
            {
                passwordCorreta = npVM.PasswordActual == user.Password;
            }
        }

        if (passwordCorreta)
        {
            var novaPasswordHash = HashingService.Hash(npVM.NovaPassword);
            pessoaData.UpdatePassword(user, novaPasswordHash);

            notificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Success,
                Summary = "Password alterada com sucesso",
                Duration = 5000
            });

            await Task.Delay(50);
            Redirecionar();
        }
        else
        {
            notificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = "Password atual incorreta",
                Duration = 4000
            });
        }
    }

    
void Redirecionar()
    {
        Navigation.NavigateTo("/Index");
    }
}
