@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject IPessoaData pessoaData

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons

<RadzenDialog />
<RadzenNotification />

<div class="page">


    <SfSidebar Width="250px" DockSize="59.5px" EnableDock="true" Position="@Position" @ref="Sidebar" HtmlAttributes="@HtmlAttribute" @bind-IsOpen="SidebarToggle">
        <ChildContent>
            <div class="dock">


                <AuthorizeView Roles="Administrador, Secretariado">
                    <Authorized>
                        <div class="sidebar">
                            <UpSkillNavMenu LogoTransparency="@(SidebarToggle ? "fade-in" : "transparent")" Toggle="Toggle" />
                        </div>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="Coordenador">
                    <div class="sidebar">
                        <UpSkillCoordenadorNavMenu LogoTransparency="@(SidebarToggle ? "fade-in" : "transparent")" Toggle="Toggle" />
                    </div>
                </AuthorizeView>
                <AuthorizeView Roles="Formador">
                    <div class="sidebar">
                        <UpsKillFormadorNavMenu LogoTransparency="@(SidebarToggle ? "fade-in" : "transparent")" Toggle="Toggle" />
                    </div>
                </AuthorizeView>
                <AuthorizeView Roles="Formando">
                    <div class="sidebar">
                        <UpSkillFormandoNavMenu LogoTransparency="@(SidebarToggle ? "fade-in" : "transparent")" Toggle="Toggle" />
                    </div>
                </AuthorizeView>
            </div>
        </ChildContent>
    </SfSidebar>

    <div class="main">
        <div class="top-row d-flex justify-content-between px-2">
            <div class="d-flex flex-row align-items-center">
                <a href="/Index"><img src="/img/MetaDigital_sem_fundo_negativo.png" style="height: 5rem; filter: invert(1);" /></a>
            </div>
            
            <div class="d-flex flex-row align-items-center">
                <AuthorizeView>
                    <Authorized>
                        <span>Olá, @context.User.Identity.Name </span> 
                        <a href="/AreaPessoal"><img class="cog" src="/img/baseline_settings_black_48dp.png" /></a>
                        <a href="" @onclick="@(()=> { ((UpskillAuthenticationStateProvider)authStateProvider).MarkUserAsLoggedOut(); })"><img class="logout" src="img/dashboard/outline_logout_black_48dp.png"></a>
                </Authorized>
                <Authorizing>
                </Authorizing>
                <NotAuthorized>
                    <a href="/">Login</a>
                </NotAuthorized>
            </AuthorizeView>
            </div>
            
        </div>

        <div class="content px-4" @onclick="Togglefalse">
            @Body
        </div>
    </div>
</div>

@code {

    List<Pessoa> pessoas;

    protected override async Task OnInitializedAsync()
    {
        LoadPessoas();
    }

    void LoadPessoas()
    {
        pessoas = pessoaData.GetAll();
    }

    SfSidebar Sidebar;
    private SidebarPosition Position { get; set; }
    public bool SidebarToggle = false;
    public void Toggle()
    {
        SidebarToggle = !SidebarToggle;
    }

    Dictionary<string, object> HtmlAttribute = new Dictionary<string, object>()
{
        {"class", "dockSidebar" }
    };

    public void Toggletrue()
    {
        SidebarToggle = true;
    }

    public void Togglefalse()
    {
        SidebarToggle = false;
    }
}

